[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/GLFW/glfw
[submodule "vendor/VulkanMemoryAllocator"]
	path = vendor/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
